.inbox {
  margin-right: 4rem;
  background-color: #24252b;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 0.4rem rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  width: 100%;
}

.status {
  padding: 1rem 4rem;
  height: 7.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #272831;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status > div {
  display: flex;
  gap: 4rem;
}

.status .profile-pic img {
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 2.95rem;
}

.search-inbox {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: center;
}

.options {
  width: 0.5423rem;
  height: 2.136rem;
  object-fit: contain;
}
.status * {
  position: relative;
  top: 0.35rem;
}
.status h3 {
  height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.09rem;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
}
.status p {
  height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.06rem;
  color: #f02857;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}

/* 
  ##################################################################
                    INBOX AREA
  ##################################################################
  */
.chat-messages {
  overflow-y: auto;
  max-height: 600px;
}
.spaceholder {
  padding: 100px;

}
.inbox-area {
  position: relative;
  flex: 1;
  margin: 0 4.2rem 2.4rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.inbox-area .chat-messages {
  padding: 0rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-date-div span {
  padding: 0.9rem 1.6rem;
  z-index: 100;
  margin: 0 auto;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, "Source Sans Pro";
  background-color: #2b2e38;
  border-radius: 1rem;
}

.text-date-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* 
  ##########################################################
                SENT MESSAGES STYLING
  ##########################################################
  */

.sent_text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fffcfc;
  font-family: Roboto, "Source Sans Pro";
}

.sent_ {
  max-width: 60rem;
  min-width: 25rem;

  display: flex;
  align-items: flex-end;
}

.messages_ {
  position: relative;
  max-width: fit-content;
  padding: 1.5rem;
  z-index: 100;
  background-color: #2b2e38;
  border-radius: 1rem;
}

.arrow_icon {
  position: absolute;
  bottom: -5rem;
  right: 0.4rem;
  width: 4.6667rem;
  height: 11.8167rem;
  object-fit: contain;
  vertical-align: top;
}

.sent_time {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, "Source Sans Pro";
  white-space: nowrap;
}

.seen_message {
  margin-bottom: 5.35rem;
  width: 3.3438rem;
  height: 1.3rem;
  margin-left: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sent_messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* 
  ##########################################################
          SENT MESSAGE STYLING
  ##########################################################
  */
/* 
  ###########################################################
                  Typing Area
  ###########################################################
  */
.typing-area {
  border-radius: 4rem;
  display: flex;
  background-color: #2b2e38;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}
.typing-area > div {
  display: flex;
  margin: 1.78rem 0;
  gap: 2rem;
}
.typing-area .left-side-typing-area {
  flex: 1;
}
.attachements-icon {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}

.emoji-icon {
  width: 2.55rem;
  height: 2.55rem;
  object-fit: contain;
  vertical-align: top;
}

.send-icon {
  width: 2.6917rem;
  height: 2.2667rem;
  object-fit: contain;
  vertical-align: top;
}

.typing-area .left-side-typing-area div {
  height: 3rem;
  width: 100%;
  background-color: #2b2e38;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins, "Source Sans Pro";
}

/* 
  #############################################
            TEXT INBOX EDIT
  #############################################
  */

.received {
  display: flex;
}
.received {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.left-row-div {
  margin-left: 3rem;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
}
.right-pushed-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-top-div {
  max-width: 60rem;
  min-width: 25rem;
  background-color: #484a4e;
  border-radius: 1rem;
  position: relative;
  padding: 1.5rem;
}
.right-top-div div {
  position: relative;
  width: fit-content;
  height: fit-content;
  z-index: 100;
}
.right-top-div p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, "Source Sans Pro";
}

/*  
  ##################################################
  RECEIVED IMAGE MARKER START
  ##################################################
  */

.received-images-marker {
  margin-bottom: 4.3136rem;
  width: 3.0853rem;
  height: 3.0136rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

/* 
  #####################################################
          an image that make a div to have a pointy edge
  #####################################################
  */
.received-img {
  width: 4.6667rem;
  height: 3.0833rem;
  position: absolute;
  left: 0;
  bottom: -0.66rem;
  vertical-align: top;
}

/* 
  ####################################################
  TIME A MESSAGE REACIEVED AT
  ####################################################
  */
.received-time {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, "Source Sans Pro";
  white-space: nowrap;
}
