*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'poppins'; /* Specify a name for your font */
    src: url('../font/Poppins-Regular.ttf') format('tff'), /* Specify the path to your font file */
         
  }

 :root {
    font-size: 6px;
 } 
body{
    font-family: 'poppins';
}
.full_page{

    display: grid;
    grid-template-columns: 23.8rem  auto;
}
.right_sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top_sidebar{
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    padding: 0.6rem 5.2rem 0.6rem 11.2rem;
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    background-color: #353743;
    flex-shrink: 0;
}

.top_left{
    margin: 0rem 14.6rem 1.5rem 0rem;
    box-sizing: border-box;
    padding-right: 14.9rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.top_right{
    margin: 2.5rem 0;
    height: calc(100% - 5rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.top_left p{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.75;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.underline{
    width: 100%;
    height: 0.5rem;
    background-color: #f02857;
    border-radius: 1rem;
}

.new_underline {
    position: relative;
    width: 16rem;
    height: 0.5rem;
    background-color: transparent;  /* Set to transparent initially */
    border-radius: 1rem;
    margin-left: 5rem;
    overflow: hidden;  /* Hide overflowing content */
    transition: background-color 0.3s ease;  /* Add a smooth transition effect */
}

.new_underline::before,
.new_underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #f02857;
    border-radius: 1rem;
    transition: width 0.3s ease;  /* Add a smooth transition effect */
}

.new_underline::before {
    left: 0;
}

.new_underline::after {
    right: 0;
}

.Newsletter:hover + .new_underline::before,
.Newsletter:hover + .new_underline::after,
.new_underline:hover::before,
.new_underline:hover::after {
    width: 25rem;  /* Adjust the underline width on hover */
}


.text_data {
    display: flex;
    flex-direction: column;
}
.home-o9N{
    width: 10.2rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
}
.top_left img{
    margin: 0rem 0.4rem 0.52rem 0rem;
    width: 2.4rem;
    height: 2.08rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.Newsletter{
    cursor: pointer;
    margin-bottom: 0.1rem;
    box-sizing: border-box;
    padding: 2.6rem 5.4rem 0rem 5.4rem;
    padding-bottom: .6rem;
    width: 77.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.12rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.border{
    margin: 0rem 0.7rem 0.7rem 4rem;
    
    width: 0.2rem;
    height: 2.9rem;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 1rem;
    flex-shrink: 0;
}

.images_right{
    padding: 0.2rem 3rem 0.2rem 0.3rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.profile_img{
    margin-right: 1.2rem;
    width: 2.8rem;
    height: 2.8rem;
    
   
    background-position: center;
    border-radius: 1.4rem;
    flex-shrink: 0;
}
.images_right .right_img_1{
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.images_right .right_img_2{
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.text_right p{
    margin-right: 0.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.text_right img{
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.profile_name{
    display: flex;
}
.text_right{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.images_right{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 3.2rem;
}
.profile_data{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.main_content{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-rows: 11rem auto;

    
}
.firm_data{
    width: 29.3355rem;
    height: 40rem;
    
   

}
.firm_text{
    display: flex;
    width: 29.3355rem;
    height: 4.2rem;
 
    display: flex;
    align-items: center;
}
.firm_text  p{
    margin-right: 2.984rem;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.6153846154;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.firm_text div{
    box-sizing: border-box;
    padding-left: 2.2844rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.firm_text .first{
    margin-top: 0.6713rem;
    width: 1.3195rem;
    height: 1.8267rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.firm_text .sec{
    margin: 0.063rem 1.395rem 0rem 0rem;
    width: 3.5525rem;
    height: 3.4505rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    
}

.firm_data{
    padding-top: 5rem;
    padding-left: 4rem;
}
.firm_text div p{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.6153846154;
    color: #f02857;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.detail_data{
    
    height: 100%;
    position: relative;
    background-color: #353743;
    border-radius: 1rem;
    margin-left: 4rem;
    margin-right:2rem ;

}
.inner_nav{
    width: 121.7rem;
    height: 6.3rem;
    display: flex;
    align-items: flex-end;
    padding-top: 3rem;
    padding-left: 4rem;
}
.inner_nav p{
    margin: 0rem 12.6rem .1rem 0rem;
   
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.6153846154;
    color: #f8f8f8;
    font-family:poppins;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
}

.inner_nav .border_inner{
    margin: 0rem 12.7rem 0.65rem 0rem;
    width: 0.2rem;
    height: 2.9rem;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 1rem;
    flex-shrink: 0;
}
.inner_nav p:nth-child(3){
    margin: 0rem 12.6rem 2.1rem 0rem;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.6153846154;
    color: #f02857;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.inner_nav p:hover{
    color: #f02857;
    transition: transform 0.5s ease;
    transform: scale(1.1);
    transform: translateY(-4px);
}


.experiance{
    padding-top: 7rem;
    padding-left: 4rem;
}
.experiance h2{
    padding-bottom: 4rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 0.875;
    color: #ffffff;
    font-family: Poppins;
    white-space: nowrap;
}

.experiance p{
    width: 143.9rem;
    height: 21rem;
   
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.75;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
}

.line_sep{
    margin: 4rem;
    width: 160.7rem;
    height: 0.4rem;
    
    object-fit: contain;
    vertical-align: top;
}
.scope{
    display: flex;
    justify-content: center;
}
.our_scope{
    width: 21.1rem;
    height: 4.2rem;
   
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.05;
    color: #ffffff;
    font-family: 'Poppins', 'Source Sans Pro';
    white-space: nowrap;
}
.list1 img:first-child{
    margin: 0rem 3.175rem 3.367rem 0rem;
    width: 8.3333rem;
    height: 6.6667rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.list2 img:first-child{
    margin: 0rem 2.314rem 0.054rem 0rem;
    width: 8.3333rem;
    height: 8.3333rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.list3 img{
    margin: 0rem 1.88rem 1.7rem 0rem;
    width: 10rem;
   
    height: 10rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.list4 img{
    margin: 0rem 4.652rem 3.416rem 0rem;
    width: 6.6667rem;
    height: 3.3333rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-top: 3rem;

}
.list5 img{
    margin: 0rem 4.536rem 3.106rem 0rem;
    width: 9.687rem;
    height: 7.1875rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.list1 p{
    margin: 0rem 3.474rem 1.74rem 0rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list2 p{
    padding-top: 2rem;
    margin-right: 7.3134rem;
    max-width: 7.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}
.list3 p{
    margin: 0rem 2.18rem 1.739rem 0rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;

}
.list4 p{
    margin-right: 4.5519rem;
    font-size: 2.4rem;
    font-weight: 700;
    padding-top: 1.6rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list5 p{
    margin: 0rem 4.736rem 1.74rem 0rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.lists {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.list1{
    cursor: pointer;
    margin: 0.163rem 6.8rem 0.163rem 0rem;
    box-sizing: border-box;
    padding: 4.303rem 1.978rem 1.962rem 5.2rem;
    width: 22.7527rem;
    height: calc(100% - 0.3269rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #353743;
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}
.list2{
    cursor: pointer;
    margin-right: 6.8rem;
    box-sizing: border-box;
    padding: 4.033rem 3.439rem 2.6rem 4.447rem;
    width: 23rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #353743;
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.list3{
    cursor: pointer;
    margin: 0.163rem 6.8rem 0.163rem 0rem;
    box-sizing: border-box;
    padding: 2.637rem 2.026rem 1.962rem 3.847rem;
    width: 22.7528rem;
    height: calc(100% - 0.327rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #353743;
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}
.list4 {
    cursor: pointer;
    margin-right: 6.8rem;
    box-sizing: border-box;
    padding: 6.133rem 3.52rem 0.5rem 8.161rem;
    width: 23rem;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #353743;
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}
.list5{
    cursor: pointer;
    margin: 0.163rem 0rem 0.163rem 0rem;
    box-sizing: border-box;
    padding: 4.043rem 1.978rem 1.962rem 6.551rem;
    height: calc(100% - 0.3269rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #353743;
    border-radius: 1rem;
    box-shadow: 0.7rem 0.7rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.lists div:hover{
    transition: transform 0.5s ease;
    transform: scale(1.2);
    box-shadow: 0.7rem 0.7rem 5.7rem rgba(0, 0, 0, 0.25);
   
}

@media screen and (min-width: 1281px) {
    :root {
        font-size: 8px;
     }
}

@media screen and (max-width: 1280px) {
    :root {
        font-size: 6px;
     }
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 5px;
     }
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 4px;
     }
}

@media screen and (max-width: 700px) {
    :root {
        font-size: 3px;
     }
}
