* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none; 
    color: inherit; 
  }
  
  
  /* @media screen and (max-width: 1007px) {
    :root {
      font-size: 9px;
    }
  } */
  @media screen and (min-width: 1008px) {
    :root {
      font-size: 10.4px;
    }
  }
  
  body {
    background-color: #2B2E38;
    height: 100vh;
    z-index: -3;
  }
  .hidden {
    display: none;
  }
  .expand {
    width: 100%;
  }
  .limit-size {
    max-width: 457px;
  }
 
  .truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
 
  ul {
    list-style-type: none;
  }
  